<div class="jumbotron">
  <h1>Welcome to my recipes app</h1>
  <p>Some and more...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
</div>

<div class="row">
  <div class="col-sm-4">
    <h4>Some options</h4>
  </div>
  <div class="col-sm-4">
    <h4>Some options</h4>
  </div>
  <div class="col-sm-4">
    <h4>Some options</h4>
  </div>
  
  
</div>

<div class="row footer">
  <div class="col-sm-12">
   <p>&copy; MyRecipes 2015</p>
 </div>
</div>
